* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.main-header {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    font-size: 1em;
    box-sizing: border-box;
}

.main-header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

.main-header p {
    text-align: center;
}

main {
    width: 80%;
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

#segitiga {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 104px;
    z-index: 2;
}

#jajar-genjang {
    background-color: white;
    position: absolute;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.selection-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px 0 30px 0;
    width: 96%;
}

.selection-link a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    font-size: 1.2em;
    font-weight: 700;
    height: 100%;
    width: 100%;
}

.link-segitiga {
    background-color: #e6e6e6;
    color: #008CBA;
    text-decoration: none;
}

.link-jajar-genjang {
    background-color: #e6e6e6;
    text-decoration: none;
    color: #008CBA;
}

.active, .link-segitiga:hover, .link-jajar-genjang:hover {
    background-color: #007399;
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.content-header {
    background-color: #008CBA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-size: 1.3em;
    font-weight: 700;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.luas-segitiga-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.luas-jajar-genjang-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.luas-segitiga-img img {
    width: 400px;
}

.rumus-luas-segitiga {
    height: 180px;
    padding-left: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 1px rgba(0,0,0,.8);
}

.rumus-luas-jajar-genjang {
    height: 180px;
    padding-left: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 1px rgba(0,0,0,.8);
}

.rumus-luas p {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

form {
    background-color: #f2f2f2;
    border-radius: 10px;
    border-top: 1px solid #d9d9d9;
}

.header-form {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.input-form div {
    height: 55px;
}

.input-form input {
    height: 30px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 10px;
    outline: none;
    transition: .3s;
}

.input-form input:focus {
    background-color: lightblue;
}

.input-form label {
    font-size: .9em;
    font-weight: 700;
}

.alas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.tinggi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.sisi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.panjang {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.lebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.hasil-operasi {
    width: 100%;
    height: 100px;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}

.hitung {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hitung button {
    background-color: #008CBA;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.hitung button:hover {
    background-color: #037196;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.reset {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.reset button {
    background-color: #f44336;
    color: white;
    font-size: 1em;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.reset button:hover {
    background-color: #d13e34;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.wrapper {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.luas-segitiga {
    width: 50%;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid #008CBA;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5), -5px -5px 15px rgba(0, 0, 0, .4);
}

.keliling-segitiga {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #008CBA;;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5), -5px -5px 15px rgba(0, 0, 0, .4);
}

.keliling-segitiga-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.luas-jajar-genjang {
    width: 50%;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid #008CBA;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5), -5px -5px 15px rgba(0, 0, 0, .4);
}

.keliling-jajar-genjang {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #008CBA;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5), -5px -5px 15px rgba(0, 0, 0, .4);
}

.luas-jajar-genjang-img {
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keliling-jajar-genjang-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.luas-jajar-genjang-img img {
    width: 400px;
}

.keliling-jajar-genjang-img img {
    width: 400px;
}

.keliling-segitiga-img img {
    width: 225px;
}


/* responsive */

@media only screen and (max-width: 1400px) {
    .main-header {
        max-width: 100%;
    }

    main {
        width: 100%;
    }

    .selection-link {
        width: 100%;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .luas-segitiga {
        width: 96%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .keliling-segitiga {
        width: 96%;
    }

    .luas-jajar-genjang {
        width: 96%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .keliling-jajar-genjang {
        width: 96%;
    }

    #segitiga {
        top: 104px;
    }

}

@media only screen and (max-width: 600px) {

    .main-header {
        width: 100%;
    }

    .content-header {
        font-size: 1.1em;
        height: 90px;
    }

    .luas-jajar-genjang-img {
        padding: 25px 0 25px 0;
    }

    .keliling-jajar-genjang-img {
        padding: 25px 0 25px 0;
    }

    .luas-segitiga-img img {
        width: 330px;
    }

    .luas-jajar-genjang-img img {
        width: 330px;
    }
    
    .keliling-jajar-genjang-img img {
        width: 330px;
    }

    .header-form h1 {
        font-size: 1em;
    }

    #segitiga {
        top: 120px;
    }
    
    #jajar-genjang {
        top: 120px;
    }
}